    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Services</h2>
            <p>At Techbuild.io, we're dedicated to lifting your business above the competition with a suite of IT services designed for excellence. Our cutting-edge solutions are crafted to enhance your digital infrastructure, secure your enterprise, and streamline your operations. Partner with us and take the first step into a future where your business soars.</p>
          </div>
  
          <div class="row gy-4">
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="service-item  position-relative">
                <div class="icon">
                  <i class="fa-solid fa-cloud-arrow-up"></i>
                </div>
                <h3>Cloud Services & Solutions</h3>
                <p>Scalable and secure cloud solutions to improve your operational efficiency and business agility.</p>
                <a href="service-details" class="readmore stretched-link">Learn more <i
                    class="bi bi-arrow-right"></i></a>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="fa-solid fa-globe"></i>
                  <!-- <i class="fa-solid fa-mobile-screen fa-2xs"></i> -->
                </div>
                <h3>Web & Mobile App Development</h3>
                <p>Responsive, user-friendly, and innovative apps to enhance your online presence and customer engagement.</p>
                <a href="service-details" class="readmore stretched-link">Learn more <i
                    class="bi bi-arrow-right"></i></a>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="fa-solid fa-lock"></i>
                </div>
                <h3>Cybersecurity & Compliance</h3>
                <p>Robust security measures to protect your business from cyber threats and ensure compliance with industry regulations.</p>
                <a href="service-details" class="readmore stretched-link">Learn more <i
                    class="bi bi-arrow-right"></i></a>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="fa-regular fa-lightbulb"></i>
                </div>
                <h3>IT Consulting & Strategy</h3>
                <p>Expert advice and strategies to optimize your IT infrastructure and drive business transformation.</p>
                <a href="service-details" class="readmore stretched-link">Learn more <i
                    class="bi bi-arrow-right"></i></a>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="fa-solid fa-gears"></i>
                </div>
                <h3>Custom Software Development</h3>
                <p>Tailor-made software solutions to address your unique business requirements and challenges.</p>
                <a href="service-details" class="readmore stretched-link">Learn more <i
                    class="bi bi-arrow-right"></i></a>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="fa-solid fa-chart-line"></i>
                </div>
                <h3>Data Analytics & Intelligence</h3>
                <p>Data-driven insights to make informed decisions and uncover new opportunities.</p>
                <a href="service-details" class="readmore stretched-link">Learn more <i
                    class="bi bi-arrow-right"></i></a>
              </div>
            </div><!-- End Service Item -->
  
          </div>
  
        </div>
      </section><!-- End Services Section -->  