<%- include('partials/header') %>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down">Elevating Your Business <span>To New Heights!</span></h2>
            <p data-aos="fade-up">At Techbuild, we specialize in providing cutting-edge IT solutions, designed to propel your business into the future. We are your one-stop destination for all your IT needs, offering a broad spectrum of services to help your business grow, innovate, and succeed in today’s digital world.</p>
            <a data-aos="fade-up" data-aos-delay="200" href="#get-started" class="btn-get-started">Get Started</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="12000">

      <div class="carousel-item active">
        <video autoplay loop muted playsinline>
          <source src="assets/img/hero-carousel/hero-video-1.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      
      <div class="carousel-item">
        <video autoplay loop muted playsinline>
          <source src="assets/img/hero-carousel/hero-video-2.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>

      <div class="carousel-item">
        <video autoplay loop muted playsinline>
          <source src="assets/img/hero-carousel/hero-video-5.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>

      <!-- <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/hero-carousel-4.jpg)"></div>
      <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/hero-carousel-5.jpg)"></div> -->
      
      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="get-started section-bg">
      <div class="container">

        <div class="row justify-content-between gy-4">

          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">
            <div class="content">
              <h3>Reach New Heights with Our Expertise</h3>
              <p>At Techbuild.io, we're committed to propelling your business into a future where potential is limitless, and success is a step away. Our team is ready to address your unique challenges and unlock new opportunities with innovative solutions. Connect with us to explore how we can elevate your business to new heights.</p>
            </div>
          </div>

          <div class="col-lg-5" data-aos="fade">
            <form action="/send-message" method="post" class="nodemailer-form">
              <h3>Get in Touch - Let's Soar Together</h3>
              <p>Your vision deserves the best IT strategy and execution. Fill out the form below, and one of our experts will connect with you to discuss how we can lift your business operations and ambitions sky-high. We're here to guide you to the pinnacle of success.</p>
              <div class="row gy-3">

                <div class="col-md-12">
                  <input type="text" name="name" class="form-control" placeholder="Name or Company" required>
                </div>

                <div class="col-md-12 ">
                  <input type="email" class="form-control" name="email" placeholder="Email" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="phone" placeholder="Phone" required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your quote request has been sent successfully. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Send Message Form -->

        </div>

      </div>
    </section><!-- End Get Started Section -->

        <!-- ======= Alt Services Section ======= -->
        <section id="why" class="why">
          <div class="container" data-aos="fade-up">
    
            <div class="row justify-content-around gy-4">
              <div class="col-lg-6 img-bg" style="background-image: url(assets/img/why.jpg);" data-aos="zoom-in"
                data-aos-delay="100"></div>
    
              <div class="col-lg-5 d-flex flex-column justify-content-center">
                <h3>Why Choose Us</h3>
                <p>Embrace the power of innovation with Techbuild—your launchpad to stellar success. Our IT expertise is the rocket fuel for your business's journey to the stars.</p>
    
                <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
                  <i class="bi bi-rocket-takeoff flex-shrink-0"></i>
                  <div>
                    <h4><a href="" class="stretched-link">Accelerated Growth</a></h4>
                    <p>Ignite your business trajectory with Techbuild's cutting-edge technology. Our innovative solutions are the boosters propelling you to market leadership.</p>
                  </div>
                </div><!-- End Icon Box -->
    
                <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
                  <i class="bi bi-globe2 flex-shrink-0"></i>
                  <div>
                    <h4><a href="" class="stretched-link">Global Connectivity</a></h4>
                    <p>Expand your reach beyond the horizons with our interconnected network solutions. Techbuild ensures you're universally synced and universally successful.</p>
                  </div>
                </div><!-- End Icon Box -->
    
                <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
                  <i class="bi bi-compass flex-shrink-0"></i>
                  <div>
                    <h4><a href="" class="stretched-link">Expert Navigation</a></h4>
                    <p>Navigate the complexities of the digital universe with Techbuild's expert guidance. Our team ensures your business journey is stellar and seamless.</p>
                  </div>
                </div><!-- End Icon Box -->
    
                <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
                  <i class="bi bi-brightness-high flex-shrink-0"></i>
                  <div>
                    <h4><a href="" class="stretched-link">Orbital Strategy</a></h4>
                    <p>Chart a course for success with strategic planning that revolves around your unique business universe. With Techbuild, you're not just circling success—you're on a direct path to it.</p>
                  </div>
                </div><!-- End Icon Box -->
    
              </div>
            </div>
    
          </div>
        </section><!-- End Alt Services Section -->
        
         <!-- ======= Alt Services Section 2 ======= -->
         <section id="why-2" class="why">
          <div class="container" data-aos="fade-up">
    
            <div class="row justify-content-around gy-4">
              <div class="col-lg-5 d-flex flex-column justify-content-center">
                <h3>Harnessing the Cosmos of Technology</h3>
                <p>Dive into the Techbuild galaxy, where our passion for technological 
                  mastery meets a commitment to advancing the digital landscape. Our expertise is your navigational star chart, 
                  guiding your business to thrive in the vast expanse of the digital universe.
                </p>
    
                <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
                  <i class="bi bi-lightbulb flex-shrink-0"></i>
                  <div>
                    <h4><a href="" class="stretched-link">Innovative Pioneers</a></h4>
                    <p><strong>Creating Tomorrow’s Tech Today:</strong> With eyes fixed on the horizon, Techbuild’s innovative 
                      spirit propels us to discover and create the breakthroughs that shape the future of technology. 
                      Our pioneering solutions place you at the vanguard of your industry.
                    </p>
                  </div>
                </div><!-- End Icon Box -->
    
                <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
                  <i class="bi bi-shield-lock flex-shrink-0"></i>
                  <div>
                    <h4><a href="" class="stretched-link">Secure Foundations</a></h4>
                    <p><strong>Fortifying Your Digital Realm:</strong> Our robust security protocols act as a shield, defending your systems from 
                      cosmic threats. With Techbuild, your data is safeguarded by the most resilient digital defenses.</p>
                  </div>
                </div><!-- End Icon Box -->
    
                <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
                  <i class="bi bi-database-gear flex-shrink-0"></i>
                  <div>
                    <h4><a href="" class="stretched-link">Synergetic Strategies</a></h4>
                    <p><strong>Aligning Stars for Success:</strong> Our strategic approach interlaces the strengths of your business with the 
                      dynamics of modern technology. We create synergy that turns potential into stellar performance.
                    </p>
                  </div>
                </div><!-- End Icon Box -->
    
                <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
                  <i class="bi bi-stars flex-shrink-0"></i>
                  <div>
                    <h4><a href="" class="stretched-link">Constellation of Expertise</a></h4>
                    <p><strong>A Network of Knowledge:</strong> Techbuild is more than a team; we are a constellation of experts, each a luminary 
                      in their field. Together, we guide your business through the complex cosmos of technology.                 
                    </p>
                  </div>
                </div><!-- End Icon Box -->
    
                <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
                  <i class="bi bi-map flex-shrink-0"></i>
                  <div>
                    <h4><a href="" class="stretched-link">Pathfinders of Progress</a></h4>
                    <p><strong>Your Guides to New Frontiers:</strong> We don't just follow trends; we chart new courses. Techbuild is your compass 
                      to undiscovered opportunities, driving your journey through the tech frontier.                 
                    </p>  
                  </div>
                </div><!-- End Icon Box -->
    
              </div>
    
              <div class="col-lg-6 img-bg" style="background-image: url(assets/img/why-2.jpg);" data-aos="zoom-in"
                data-aos-delay="100"></div>
            </div>
    
          </div>
        </section><!-- End Alt Services Section 2 -->

    <%- include('partials/services-section') %>
    
  </main>

  <%- include('partials/footer') %>