<%- include('partials/header') %>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Services</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Services</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <%- include('partials/services-section') %>

    <!-- ======= Why Section ======= -->
    <section id="why" class="why">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-6 img-bg" style="background-image: url(assets/img/why.jpg);" data-aos="zoom-in"
            data-aos-delay="100"></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>Why Choose Us</h3>
            <p>Embrace the power of innovation with Techbuild—your launchpad to stellar success. Our IT expertise is the rocket fuel for your business's journey to the stars.</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-rocket-takeoff flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Accelerated Growth</a></h4>
                <p>Ignite your business trajectory with Techbuild's cutting-edge technology. Our innovative solutions are the boosters propelling you to market leadership.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-globe2 flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Global Connectivity</a></h4>
                <p>Expand your reach beyond the horizons with our interconnected network solutions. Techbuild ensures you're universally synced and universally successful.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-compass flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Expert Navigation</a></h4>
                <p>Navigate the complexities of the digital universe with Techbuild's expert guidance. Our team ensures your business journey is stellar and seamless.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Orbital Strategy</a></h4>
                <p>Chart a course for success with strategic planning that revolves around your unique business universe. With Techbuild, you're not just circling success—you're on a direct path to it.</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>
    </section><!-- End Why Section -->

             <!-- ======= Why Section 2 ======= -->
             <section id="why-2" class="why">
              <div class="container" data-aos="fade-up">
        
                <div class="row justify-content-around gy-4">
                  <div class="col-lg-5 d-flex flex-column justify-content-center">
                    <h3>Harnessing the Cosmos of Technology</h3>
                    <p>Dive into the Techbuild galaxy, where our passion for technological 
                      mastery meets a commitment to advancing the digital landscape. Our expertise is your navigational star chart, 
                      guiding your business to thrive in the vast expanse of the digital universe.
                    </p>
        
                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
                      <i class="bi bi-lightbulb flex-shrink-0"></i>
                      <div>
                        <h4><a href="" class="stretched-link">Innovative Pioneers</a></h4>
                        <p><strong>Creating Tomorrow’s Tech Today:</strong> With eyes fixed on the horizon, Techbuild’s innovative 
                          spirit propels us to discover and create the breakthroughs that shape the future of technology. 
                          Our pioneering solutions place you at the vanguard of your industry.
                        </p>
                      </div>
                    </div><!-- End Icon Box -->
        
                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
                      <i class="bi bi-shield-lock flex-shrink-0"></i>
                      <div>
                        <h4><a href="" class="stretched-link">Secure Foundations</a></h4>
                        <p><strong>Fortifying Your Digital Realm:</strong> Our robust security protocols act as a shield, defending your systems from 
                          cosmic threats. With Techbuild, your data is safeguarded by the most resilient digital defenses.</p>
                      </div>
                    </div><!-- End Icon Box -->
        
                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
                      <i class="bi bi-database-gear flex-shrink-0"></i>
                      <div>
                        <h4><a href="" class="stretched-link">Synergetic Strategies</a></h4>
                        <p><strong>Aligning Stars for Success:</strong> Our strategic approach interlaces the strengths of your business with the 
                          dynamics of modern technology. We create synergy that turns potential into stellar performance.
                        </p>
                      </div>
                    </div><!-- End Icon Box -->
        
                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
                      <i class="bi bi-stars flex-shrink-0"></i>
                      <div>
                        <h4><a href="" class="stretched-link">Constellation of Expertise</a></h4>
                        <p><strong>A Network of Knowledge:</strong> Techbuild is more than a team; we are a constellation of experts, each a luminary 
                          in their field. Together, we guide your business through the complex cosmos of technology.                 
                        </p>
                      </div>
                    </div><!-- End Icon Box -->
        
                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
                      <i class="bi bi-map flex-shrink-0"></i>
                      <div>
                        <h4><a href="" class="stretched-link">Pathfinders of Progress</a></h4>
                        <p><strong>Your Guides to New Frontiers:</strong> We don't just follow trends; we chart new courses. Techbuild is your compass 
                          to undiscovered opportunities, driving your journey through the tech frontier.                 
                        </p>  
                      </div>
                    </div><!-- End Icon Box -->
        
                  </div>
        
                  <div class="col-lg-6 img-bg" style="background-image: url(assets/img/why-2.jpg);" data-aos="zoom-in"
                    data-aos-delay="100"></div>
                </div>
        
              </div>
            </section><!-- End Why Section 2 -->
    

  </main>

  <%- include('partials/footer') %>